<div class="headerDiv">

  <img alt="TVAB Logo" src="/assets/images/logo_colored.png">

  <div class="midDiv">
    <h1>{{titleText}}</h1>
    <div class="hidden-xs">
      <h4>{{subtitleText}}</h4>
    </div>
  </div>

  <div>
    <h4>
      <a href="http://intranet.tvab.kiruna.se/">Gamla startsidan</a>
        <a href="mailto:joakim.zakrisson@tvab.kiruna.se?subject=Synpunkter angående Framsidan">Kontakta webbansvarig</a>
    </h4>

    <div class="hidden-xs hidden-sm hidden-md">
      <h3>{{date}}</h3>
    </div>

  </div>

</div>