$font-stack:    Helvetica, sans-serif;
$primary-yellow: hsl(45, 100%, 49%);
$primary-blue: #0089bd;
$accent-darkblue: #15607e;
$accent-orange: #ee7d00;
$accent-green: #c4d21f;
$accent-red: #ca0538;
$accent-lightblue: #80afb6;